.vscode/**
.git/**
.gitignore

src/**
test/**
tests/**
**/*.test.ts
**/*.spec.ts

tsconfig.json
dist/**/*.map

*.vsix

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

CHANGELOG.md
CONTRIBUTING.md
